# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- R language
- python
- java

### Some of the popular languages that Data Scientists use are:

1. R LANGUAGE 
2. PYTHON
3. JAVA

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas 
2. Scikit-learn 
3. Apache Airflow

|Data Science Tools|
|-----------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Zainab Alshobbar